.container1 {
    position: relative;
    height: 560px;
    width: 405px;
    margin: 100px auto;
    padding: 60px 60px;
    background-size: cover;
    background-color:rgb(239, 245, 245);
    box-shadow: 0px 30px 60px -5px rgb(103, 101, 101);
  }

  
.form{
    padding-top: 40px;
  }
  
  
  
  .form{
    border-bottom: 2px solid #000205;
  }

  .form{
    padding-top: 40px;
  }
  
  .form {
    border-bottom: 2px solid #000205;
  }
  
  .nonactive {
    color: rgba(255, 255, 255, 0.2);
  }
.payment-input-btn {
    background-color: #0b0c0c;
    color: #FFF;
    width: 100%;
    padding: 10px 20px;
    display: block;
    height: 39px;
    border-radius: 20px;
    margin-top: 30px;
    transition: all 0.5s ease-in-out;
    border: none;
    text-transform: uppercase;
  }
  
  .payment-input-btn:hover {
    background: #09090a;
    box-shadow: 0px 4px 35px -5px #4082f5;
    cursor: pointer;
  }
  
  .payment-input-btn:focus {
    outline: none;
  }

  .h1 {
    padding-left: 12px;
    font-size: 22px;
    color: #000205;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 100;
  }

  
  .payment-text-input {
    border: none;
    width: 89%;
    padding: 10px 20px;
    display: block;
    height: 15px;
    border-radius: 20px;
    background: rgba(241, 238, 238, 0.1);
    border: 2px solid rgba(243, 244, 245, 0);
    overflow: hidden;
    margin-top: 15px;
    transition: all 0.5s ease-in-out;
  }
  
  .payment-text-input:focus + span {
    opacity: 0.6;
  }
  
  .payment-text-input[type="text"],
  .payment-text-input[type="password"] {
    font-family: 'Montserrat', sans-serif;
    color: rgb(12, 11, 11);
  }
  
  
  
  .input {
    display: inline-block;
    padding-top: 20px;
    font-size: 14px;
  }
  
  
  .payment-label {
    margin-left: 20px;
  }
  
  .payment-label {
    color: rgb(8, 1, 1);
    display: inline-block;
    padding-top: 10px;
    padding-left: 5px;
  }